html {
	display: block;
}
.wrapper {
	margin: 60px auto 15px;
	border: 2px dotted #464646;
	background-color: white;
	height: 230px;
	width: 420px;
	padding: inherit;
	opacity: 0.75;

}
div {
	display: block;
}
#nav {
	float: right;
	margin-bottom: 3px
}
li {
	display: inline;
	margin-right: 120px;
	font-family: 'Alegreya Sans SC';
	padding: .4em;
	color: 73F3D0;
	text-shadow: 2px 2px 10px #111111;
}
#logo {
	height: 100px;
	background-image: url('wood.jpg');
	background-size: cover;
	background-repeat: repeat;
	padding-top: none; 

}
body {
	background-image: url("");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #DBFFF;
	display: block;
	margin: 5px;
	margin-top: 3px;
	margin-left: 5px;
	width: relative;
}
h1 {
	font-family: 'Permanent Marker', sans-serif;
	font-size: 27px;
	padding: 2px;
	color: #black;
	text-align: center;
	line-height: 19px;
}

p {
	font-family: 'Alegreya Sans SC', cursive;
	font-size: 18px;
	text-align: center;
	color: black;
}

header {
	padding-bottom: 15px;
	width: 145px;
	height: 44px;
}
hr {
	width: 50px;
}